<!doctype html>

<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>

<body>
    <header>
        <a href="/">Header</a>
    </header>
    <main>
        <h1>{{ title }}</h1>
        {{content}}
    </main>
    <footer>
        <a href="/about">Footer</a>
    </footer>
</body>
</html>