<!DOCTYPE html>

<html lang="en">
    <head>
        <title> Matt Prindible: {{ title }} </title>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    
    <body>
        <header>
            <a href="/">Matt Prindible</a>
            <a href="/about">About</a>
        </header>
        {{ content | safe }}
        <footer>
            <p>Footer here</p>
        </footer>
    </body>
</html>